@{
    ViewData["Title"] = "About Us";
}

<div class="container-fluid" style="background-color: #ffe6e6;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 mb-5" style="border: none; background-color: #ffe6e6;">
                <div class="card-body">
                    <h2 class="text-center" style="color: #d147a3;">About Us</h2>
                    <p class="text-center" style="color: #b30086;">Welcome to KhumaloFinal! We are committed to providing the best service and quality products to our customers. Learn more about our journey and what we stand for below.</p>
                    <div class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhOeOMNCs9uzgB3j_1LF5kr1RUUi_8hjqIdg&s" class="rounded-circle mb-4" alt="Company Logo">
                    </div>
                    <h4 style="color: #d147a3;">Our Mission</h4>
                    <p style="color: #b30086;">Our mission is to deliver high-quality products and services that bring value to our customers. We strive to innovate and continuously improve in order to meet and exceed customer expectations.</p>
                    <h4 style="color: #d147a3;">Our Story</h4>
                    <p style="color: #b30086;">Founded in 1991, KhumaloFinal started with a simple idea and a lot of passion. Over the years, we have grown into a trusted name in the industry, thanks to our dedicated team and loyal customers.</p>
                    <h4 style="color: #d147a3;">Our Team</h4>
                    <p style="color: #b30086;">We are a diverse group of professionals who are passionate about what we do. Our team works tirelessly to ensure that we deliver the best possible experience for our customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
